{% extends "./base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    {% include '../includes/messages.html' %}
                    <div class="card-header">
                        <h3 class="text-center font-weight-light text-primary">{% trans "Sign In" %}</h3>
                        {% get_providers as socialaccount_providers %}
                    </div>
                    <div class="card-body">

                        {% if socialaccount_providers %}
                            <p>{% blocktrans with site.name as site_name %}Please sign in with one
                            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                            <div class="socialaccount_ballot">

                            <ul class="socialaccount_providers">
                                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                            </ul>

                            <div class="login-or">{% trans 'or' %}</div>

                            </div>

                            {% include "socialaccount/snippets/login_extra.html" %}

                            {% else %}
                            <p>{% blocktrans %}If you have not created an account yet, then please
                            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                        {% endif %}

                        <form class="login" method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="button secondaryAction small" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a href="{% url 'account_signup' %}">Need an account? Sign up!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}
