{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

<div class="container-fluid">

    <!-- Page Heading -->
    {% comment %} <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div> {% endcomment %}

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-4 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Available Products</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_stocks }}</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
                </div>
            </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-4 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Sell</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_sells }}</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
                </div>
            </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-4 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Purchase</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_purchases }}</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
                </div>
            </div>
            </div>
        </div>

    </div>
    <!-- Products list -->

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Available Products</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Product (পণ্য)</th>
                                <th>Qunatity (পরিমাণ)</th>
                                <th>Price (বিক্রয় মূল্য)</th>
                                <th>Description (বর্ণনা)</th>
                                <th>Actions</th>
                            </tr>
                            </thead>

                            <tbody>
                                {% for product in stocks %}
                                <tr {% if product.quantity <= 0 %}class="text-danger"{% endif %}>
                                    <td>{{ product.product_name }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td>{{ product.sell_price }}</td>
                                    <td>{{ product.description }}</td>
                                    <td class="text-center">
                                        {% if product.quantity > 0 %}
                                        <a href="{% url 'sell-product-by-id' product.pk %}" class="btn btn-sm btn-primary">Sell</a>
                                        {% else %}
                                        <span class="badge badge-danger">Stock Out</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            
                        </table>

                        {% include './includes/pagination.html' %}

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock body %}
