{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

<div class="container-fluid">

    <!-- Page Heading -->
    {% comment %} <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div> {% endcomment %}

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Available Products</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ stocks.all.count }}</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
                </div>
            </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Sell</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ sells.all.count }}</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
                </div>
            </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Purchase</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ purchases.all.count }}</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
                </div>
            </div>
            </div>
        </div>

    </div>
    <!-- Products list -->

    <div class="row">
        <div class="col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Available Products</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Qunatity</th>
                                <th>Price</th>
                                <th>Actions</th>
                            </tr>
                            </thead>

                            <tbody>
                                {% for product in stocks %}
                                <tr {% if product.quantity <= 0 %}class="text-danger"{% endif %}>
                                    <td>{{ product.product_name }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td>{{ product.sell_price }}</td>
                                    <td class="text-center">
                                        {% if product.quantity > 0 %}
                                        <a href="{% url 'sell-product-by-id' product.pk %}" class="btn btn-sm btn-primary">Sell</a>
                                        {% else %}
                                        <span class="badge badge-danger">Stock Out</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Product Amount Chart</h6>
                </div>
                <div class="card-body">
                    <canvas id="myChart" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock body %}

{% block script %}
<script>
    function getRandomColor() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    function getRandomColorEachProduct(count) {
        var data =[];
        for (var i = 0; i < count; i++) {
            data.push(getRandomColor());
        }
        return data;
    }


    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
                {% for product in stocks %}
                    '{{product.product_name}}',
                {% endfor %}
            ],
            datasets: [{
                label: 'Products',
                data: [
                    {% for product in stocks %}
                    {{product.quantity}},
                    {% endfor %}
                ],
                backgroundColor: 'rgb(16, 80, 173)',
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% endblock script %}