{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}| {{ title|title }}{% endblock title %}

{% block body %}

<div class="container-fluid">

    <!-- Content Row -->

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ title|title }}</h6>
            <a href="{% url 'sells-csv' %}" class="btn btn-sm btn-primary buttons-right d-inline">Download CSV <i class="fa fa-cloud-download-alt"></i></a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <form action="" method="GET">
                    <div class="row">
                        <div class="col-md-4">
                            {{filter.form.customer_name|as_crispy_field}}
                        </div>
                        <div class="col-md-4">
                            {{filter.form.customer_phone|as_crispy_field}}
                        </div>
                        <div class="col-md-4">
                            {{filter.form.product_name|as_crispy_field}}
                        </div>
                        <div class="col-md-4">
                            <label for="id_date_added">Date</label>
                            <input class="form-control" type="date" name="date_added" id="id_date_added">
                        </div>
                        <div class="col-md-4">
                            <label for="id_date_added__gt">Start Date</label>
                            <input class="form-control" type="date" name="date_added__gt" id="id_date_added__gt">
                        </div>
                        <div class="col-md-4">
                            <label for="id_date_added__lt">End Date</label>
                            <input class="form-control" type="date" name="date_added__lt" id="id_date_added__lt">
                        </div>
                    </div>
                    <div class="buttons-right">
                        <button type="submit" class="btn btn-sm btn-primary mt-1"><i class="fa fa-filter"></i> Filter</button>
                        <a href="{% url 'sell-report' %}" class="btn btn-sm btn-secondary mt-1">Cancel</a>
                    </div>
                </form>
                <br>
                <br>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Paid</th>
                        <th>Due</th>
                        <th>Customer</th>
                        <th>Phone</th>
                        <th>Date</th>
                    </tr>
                    </thead>

                    <tbody>
                        {% for obj in filter.qs %}
                        <tr>
                            <td>{{ obj.product_name }}</td>
                            <td>{{ obj.quantity }}</td>
                            <td>{{ obj.sell_price }}</td>
                            <td>{{ obj.get_total_amount }}</td>
                            <td>{{ obj.paid_amount }}</td>
                            <td>{{ obj.get_due_amount }}</td>
                            <td>{{ obj.customer_name }}</td>
                            <td>{{ obj.customer_phone }}</td>
                            <td>{{ obj.date_added }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock body %}

{% block script %}
{% endblock script %}