{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}| {{ title|title }}{% endblock title %}

{% block body %}

<div class="container-fluid" id="createSell">

    <!-- Content Row -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ title|title }}</h6>
        </div>
        <div class="card-body">
            <form action="" method="POST" @change="calculateDue">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            {{ form.product_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            {{ form.quantity|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            {{ form.sell_price|as_crispy_field }}
                            {% comment %} {{ form.sell_price|as_crispy_field }} {% endcomment %}
                            {% comment %} <div id="div_id_sell_price" class="form-group"> {% endcomment %}
                                {% comment %} <label for="id_sell_price" class=" requiredField"> {{form.sell_price.label}}<span class="asteriskField">*</span></label> {% endcomment %}
                                {% comment %} {{form.sell_price.label}} {% endcomment %}
                                {% comment %} <div class="">
                                    <input 
                                        type="text" 
                                        name="sell_price" 
                                        value="{% if form.sell_price.value %}{{ form.sell_price.value }}{% endif %}" 
                                        class="textinput textInput form-control" 
                                        id="id_sell_price"
                                        placeholder="Taka"
                                    >
                                </div> {% endcomment %}
                            {% comment %} </div> {% endcomment %}
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            {{ form.customer_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            {{ form.customer_phone|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            {% comment %} {{ form.paid_amount|as_crispy_field }} {% endcomment %}
                            <div id="div_id_paid_amount" class="form-group">
                                <label for="id_paid_amount" class=" requiredField"> {{form.paid_amount.label}}<span class="asteriskField">*</span></label>
                                <div class="">
                                    <input 
                                        @keyup="calculateDue()" 
                                        type="text" 
                                        name="paid_amount" 
                                        class="textinput textInput form-control" 
                                        id="id_paid_amount"
                                        placeholder="Taka"
                                        value="{% if form.paid_amount.value %}{{ form.paid_amount.value }}{% endif %}"
                                        required="" 
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons-right" v-if="dueField">
                    {% comment %} <div class="col-lg-3"> {% endcomment %}
                        <div class="form-group">
                        <label for="dueAmount">Due amount (বাকির পরিমাণ)</label>
                            <input v-model="dueAmount" type="text" class="form-control" readonly id="dueAmount">
                        </div>
                    {% comment %} </div> {% endcomment %}
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            {{ form.description|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="buttons-right">
                    <button class="btn btn-primary mr-1" type="submit">Submit</button>
                    <a href="{% url 'sell-list' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock body %}



{% block script %}

<script type="text/javascript">

const createSell = {
    data(){
        return{
            dueAmount: '',
            dueField: false
        }
    },
    methods: {
        calculateDue(){
            var paid = document.getElementById('id_paid_amount').value
            if (paid > 0){
                this.dueField = true;
                var sellprice = document.getElementById('id_sell_price').value
                var quantity = document.getElementById('id_quantity').value
                var totalAmount = (sellprice * quantity)
                var due = totalAmount - paid
                console.log(paid)
                this.dueAmount = due
            }else{
                this.dueField = false;
            }
        },
    },
    delimiters: ['[[', ']]']
}


Vue.createApp(createSell).mount('#createSell')

</script>


{% endblock script %}